
<div id="fmb_anisar"></div>

<div id="relatorio-paisagem-container">

		<div id="relatorio-cabecalho">
			<div id="ufrn"><img src="/img/ufrn.gif" height="90"> <br> <a href="/sigaa/verPortalDiscente.do">Portal do Discente</a></div>
			<div id="sinfo"><img src="/img/sinfo.gif" height="60">  </div>
			
			<div id="texto">
				Instituto Federal do Paraná<br>
				Sistema Integrado de Gestão de Atividades Acadêmicas<br>

				
				<br>
				<span class="dataAtual"> Emitido em 09/10/2023 18:29 </span>
			</div>
			<div class="clear"> </div>
		</div>
		<div id="relatorio">

		<br>

<link rel="stylesheet" media="all" href="/sigaa/css/atestado_matricula.css" type="text/css">

<style type="text/css">
div.opcoes { margin: 5px 0; }
div.opcoes a { font-size: 0.9em; }
tr.alunoSelecionado { background: #FF8888; }

h3 { text-align: center; font-variant: small-caps; border-bottom: 1px solid #BBB; margin-bottom: 5px;}
#relatorio th { font-weight: bold; }
#relatorio .linha { border-bottom: 1px dashed #BBB; }
#relatorio table tr td, #relatorio table tr th { font-size: 0.9em }
#relatorio .nota { width: 48px; text-align: center; }
#relatorio .situacao { width: 85px; text-align: center; }

#identificacao {border-bottom: 1px solid #CCC; width: 100%;}
#identificacao td { font-size: 1.1em; padding: 2px; }
</style>











	

	<h3> Boletim Individual</h3>

	<table id="identificacao">
		<tbody><tr>
			<td width="168">
				<img src="/img/celular.jpg">
			</td>
			<td>
				<table>
					<tbody><tr>
						<th> Aluno(a): </th>
						<td> PEDRO VITOR FERREIRA DOS SANTOS - 20223021653 </td>
					</tr>
					<tr>
						<th> Curso: </th>
						<td> TÉCNICO EM PROGRAMAÇÃO DE JOGOS DIGITAIS (T) (CTB018) </td>
					</tr>
				</tbody></table>
			</td>
			<td>
							
			</td>
			
	</tr></tbody></table>

		<div class="notas" style="clear: both;">
		
		
		

			
			
			

			
			
			
			<br>
			

			<table class="tabelaRelatorio" width="100%">
			<caption>2023.1</caption>
				<thead>
					<tr>
						<th width="7%">Código</th>
						<th width="40%">Disciplina</th>
							
							
								
									
									<th class="nota">
										Unidade 1
									</th>
								
									
									<th class="nota">
										Unidade 2
									</th>
								
									
									<th class="nota">
										Unidade 3
									</th>
								
									
									<th class="nota">
										Unidade 4
									</th>
								
								
							
							<th class="nota">Resultado Final</th>
						
							<th class="nota" style="text-align: right;">Faltas</th>

						
							<th width="25%" class="situacao">Situação</th>
					</tr>
				</thead>
				<tbody>
			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD213</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">ARTE II</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						5
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD210</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">BIOLOGIA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						2
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD202</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">DESENHO DE SOM PARA JOGOS DIGITAIS</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						2
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD209</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">EDUCAÇÃO FÍSICA II</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						6
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD207</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">FÍSICA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						11
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD201</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">GAME DESIGN</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						4
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD211</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">GEOGRAFIA II</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						4
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD212</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">HISTÓRIA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						2
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD205</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">LÍNGUA INGLESA II</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						0
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD204</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">LÍNGUA PORTUGUESA II</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						0
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD206</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">MATEMÁTICA II</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						4
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD203</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">PROGRAMAÇÃO DE JOGOS DIGITAIS 2D</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						2
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD208</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">QUÍMICA II</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								-
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
								-
					
					

					
					
						
							
							
							
						
						
						
					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						2
						
						
					
				</td>
						
							<td class="situacao">MATRICULADO</td>
						
						
						
			</tr>
			

			
			
			

			
			</tbody>
			</table>
			<br>
			

			<table class="tabelaRelatorio" width="100%">
			<caption>2022.1</caption>
				<thead>
					<tr>
						<th width="7%">Código</th>
						<th width="40%">Disciplina</th>
							
							
								
									
									<th class="nota">
										Unidade 1
									</th>
								
									
									<th class="nota">
										Unidade 2
									</th>
								
									
									<th class="nota">
										Unidade 3
									</th>
								
									
									<th class="nota">
										Unidade 4
									</th>
								
								
							
							<th class="nota">Resultado Final</th>
						
							<th class="nota" style="text-align: right;">Faltas</th>

						
							<th width="25%" class="situacao">Situação</th>
					</tr>
				</thead>
				<tbody>
			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD110</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">ARTE I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								B
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						2
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD111</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">CRIAÇÃO E DESENVOLVIMENTO DE PERSONAGENS E NARRATIVA</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								B
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						0
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD106</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">EDUCAÇÃO FÍSICA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								B
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						4
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD109</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">GEOGRAFIA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								C
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						4
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD103</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">ILUSTRAÇÃO E MODELAGEM 2D E 3D</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								A
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						4
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD105</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">LÍNGUA INGLESA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								B
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						4
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD104</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">LÍNGUA PORTUGUESA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								C
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								B
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						0
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD101</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">MATEMÁTICA E FÍSICA PARA JOGOS</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								A
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						0
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD107</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">MATEMÁTICA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								A
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						0
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaPar linha">
				<td nowrap="nowrap">CTPJD102</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">PROGRAMAÇÃO DE JOGOS DIGITAIS</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								A
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						0
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			

			

			<tr class="linhaImpar linha">
				<td nowrap="nowrap">CTPJD108</td>
			<td nowrap="nowrap" style="border-right: 1px solid #888;">QUÍMICA I</td>
				
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								B
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
				
					<td class="nota" style="border-right: 1px solid #888;">
				  	
						
							
								A
							
							
							
						
					</td>
					
						
				
					
				

				<td class="nota" style="border-right: 1px solid #888;">
					
					
					
					
								A
					
					

					
				</td>
				<td class="nota" style="border-right: 1px solid #888;text-align: right;">
					
						0
						
						
					
				</td>
						
							<td class="situacao">APROVADO</td>
						
						
						
			</tr>
			
			</tbody>
			</table>
		</div>
		

		<div id="autenticacao">
			<h4>ATENÇÃO</h4>
			<p>
				Para verificar a autenticidade deste documento acesse
				<span>https://sigaa.ifpr.edu.br/sigaa/documentos/</span> informando a matrícula, a data de emissão e
				o código de verificação <span>ba2141467b</span>
			</p>
		</div>




</div> 
	<div class="clear"> </div>
	<br>
	<div id="relatorio-rodape">
		<p>
			<table width="100%">
				<tbody><tr>
					<td class="voltar" align="left"><a href="javascript:history.back();"> Voltar </a></td>
					<td width="70%" align="center">
					SIGAA | DTIC - Diretoria da Tecnologia de Informação e Comunicação - IFPR - <a href="https://glpi.ifpr.edu.br/">Para dúvidas acesse o HelpDesk Institucional</a> | Copyright © 2006-2023 - IFPR - homemcoisa.ifpr.edu.br.srv1inst1
					</td>
					<td class="naoImprimir" align="right">
						<a onclick="javascript:window.print();" href="#">Imprimir</a>
					</td>
					<td class="naoImprimir" align="right">
						<a onclick="javascript:window.print();" href="#">							
							<img alt="Imprimir" title="Imprimir" src="/shared/javascript/ext-1.1/docs/resources/print.gif">
						</a>
					</td>
				</tr>
			</tbody></table>
		</p>

	</div>
</div>  

<!-- MYFACES JAVASCRIPT -->




<script>
    const dataHoraAtual = new Date();

    // Separe a data e a hora em variáveis
    const dataAtual = dataHoraAtual.toLocaleDateString();
    const horaAtual = dataHoraAtual.toLocaleTimeString();
    document.querySelector("span.dataAtual").innerHTML = ` Emitido em ${dataAtual} ${horaAtual} `;
</script>